Section 1 Editorial 

Additional comments received on Section 1 

| Organization / Program | PDF Line | Comment | Change |
| --- | --- | --- | --- |
| FPKIMA|4|Suggest adding "in the" after USFPKI. Confusing the way it is currently worded.|U.S. Federal Public Key Infrastructure in the issuance and management of publicly trusted device certificates." |
| FPKIMA|16|Take out the "be"|The requirements are designed to flow down from the Root…. |
| FPKIMA|18|Harder to remember to update the BR version when its hidden in the paragraph.|Introduce a call-out that of all the public trust requirements that are met. CAB BRs, Microsoft v, Mozilla v… etc. |
| FPKIMA|193-194|The definition of a country may not always align with the U.S. Government position.  Other nations may recognize another country that the U.S. Government may not. |Since these CAs will only issue to the U.S. Government, remove the definition for country or Country: A geographic region as recognized by the U.S. Government. |
| FPKIMA|219|~~The definition of Effective Date has an actual date.~~|~~Effective Date: "The date upon which something is considered to take effect, which may be a past, present or future date. This may be different from the date upon which the event occurs or is recorded."  https://en.wikipedia.org/wiki/Effective_date~~|
| FPKIMA|234-236|The High Security Zone definition includes the text "or Delegated Third Party"  However, the CP states previously that Delegated Third Parties are not authorized.  This text should be removed.|High Security Zone: An area (physical or logical) protected by physical and logical controls that appropriately protect the confidentiality, integrity, and availablity of the CA's private key or cryptographic hardware. |
| FPKIMA|311|Using Requirements to define Requirements is circular logic.|Requirements: a thing that is compulsory; a necessary condition. |
| FPKIMA|39|PKI Authorities include more than the FPKIPA.  This section, at the very least, needs to include  paragraphs for Federal CIO Council, FPKIPA, and FPKIMA.|Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3, "PKI Participants" as the model for this section re-write. |
| FPKIMA|39|"Certificate Status Servers" needs to be included as a paragraph in the "PKI Authorities" section.|Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.1.7, "Certificate Status Servers" as the model to add to this section. |
| FPKIMA|79|The Definition Section in 1.6.1 should define WHAT is a subscriber.  This section should define WHO are the subscribers.|Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.4, "Subscribers" as the model for this section re-write. |
| FPKIMA|81|The Definition Section in 1.6.1 should define WHAT is a Relying Party.  This section should define WHO are the Relying Parties.|Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.5, "Relying Parties" as the model for this section re-write. |
| FPKIMA|86|"Compliance Auditors" should be named "Other Participants"|Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.6, "Other Participants" as the model for this section re-write. |
| FPKIMA|88 & 92|Alignment and consistency with Public Trust Feedback -- explicitly state SSL/TLS, Certificate Transparency, etc.|Align these sections to ensure consistency with Slide 25, "What is in Scope?" of PublicTrust_PKI_RequestFeedback_2017.pdf |
| FPKIMA|234|Consider renaming "High Security Zone" to avoid confusion between the FISMA definition of High Security Impact systems. |Rename this term, "Enhanced Security Zone", and a footnote that CAB Forum uses different terminology which has FISMA connotations. |
| FPKIMA|362|Convert from table format to be consistent with other sections|Remove table |
| FPKIMA|no line number|Within the Acronym table, "CAA Certification Authority Authorization" should be defined as well|Include a definition in Section 1.6.1 for CAA Certification Authority Authorization" |
| FPKIMA|no line number|Missing acronyms|Include acronyms for: HTTP, HTTPS, SCT, CT |
| DoD|29-30| |Add "United States (US)" before the word "Federal" |
| DoD|Table before line 32| |Replace the term "fingerprint" with hash |
| DoD|Table| |Put place holder n and m at the end of the two OIDs to make OIDs distinct.  Or put TBDs at the end |
| DoD|Table| |Do not bold the OID prefix.  It gives the impression that is the actual OID |
| DoD|Table| |Restructure so the OID prefix (the CSOR arc) is only rendered once |
| DoD|Table| |Replace TBD for Change Proposal to None since version 1.0 will be the original CP. |
| DoD|Table| |Change Effective column with Effective Date and delete * and associated text.  Note there is a separate section for compliance |
| DoD|77|This sentence is not clear.  What is delegated third party and what does it mean to not allow them.|Delete the sentence or add more meat around it so that it is clear. |
| DoD|94-98|Note that even when a TLS Server acts as a TLS client, it is because it is being accessed as a TLS Server.|It would be better to explicitly and directly state that certificates issued by the TLS Server PKI can only be used during the course of TLS Server Authentication. |
| DoD|111| |Replace "has inclusion in" with "is included in" |
| DoD|115|Text is not a complete sentence.|Replace text with a complete sentence - e.g., "The FPKIPA shall affirm the suitability of any CPS to this policy." |
| DoD|124-397|The glossary section is very long, and it is hard to find the acronyms table when reading through the policy, both of these problems impact overall readability|Move the glossary and acronyms to an appendix at the end of the document |
| DoD|128| |Fix spelling of "physically" |
| DoD|128-129|The term air-gapped is used in only three places and two of them are in definition.  To be consistent and to be unambiguous define it to be disconnected from any network|Change the definition to "Certificate Systems or components that are physically and logically disconnected from other networks" |
| DoD|131| |Change "issues" to "is issued" |
| DoD|147-148| |Change "an entity's" to "the audited entity's" |
| DoD|205| |Change "contract" to "contact" |  
| DoD|253| |Delete "alphanumeric" since OID are hierarchy of numeric numbers.  There is no alpha in OID.  The numerics are given names at each level for ease of use. |
| DoD|259-260|Online should include the concept of being "powered on"|Add "powered on" |
| DoD|261-262| |Change the definition per RFC 6960 to "A protocol to determine revocation status of one or more certificates without the use of CRLs.  The protocol is defined in RFC 6960" |
| DoD|274-275|There is no such thing as "corresponding root certificate"|Change the definition to "A Certificate that is trusted by virtue of the fact that a certification path exists to it from a Root Certificate distributed as a trust anchor in widely-available application software." |
| DoD|315-316|While the CP does not use the term, the certificate profiles use the term intermediate CA|Revise the definition of Root CA to say "Intermediate CA and Subordinate CA certificates" |
| DoD|346-348|It is not clear if this OID is supposed to appear in certificate policies extension or is a new extension.  Research indicates that it may appear in certificate policies extension.|Clarify where this OID appears or if this is an OID for an extension.  If this is an extension, document its syntax.  Include the actual OID in the CP which appear to be 2.23.140.2.1 |
| Army CIO/G-6|349|The CP does not have a definition for Transport Layer Security (TLS) |Recommend adding a definition for Transport Layer Security (TLS) to this section. Recommend adding parts of RFC 6962, Page 13, Section 3.3 to the document. This section references the inclusion of a signed certificate timestamp in the TLS handshake. |
| DoD|356-357|Validity Period is a specific term in X.509.  Note that a certificate can be back dated or its validity can start sometime in the future.  I have revised it and added something about not before that may or may not be true. |Revise the definition to state Validity Period consists of two dates: date when the certificate becomes valid (called not before) and date when the certificate expires (not after).  This CP requires the CAs to assert not before date to be the date certificate is issues and not after date to be some time after that. |
| SSA|Line 124|The term "natural person" is used throughout the document; however, it is not defined. A definition of the term will improve readers' understanding.|We suggest including a definition for the term "natural person" in Section 1.6.1 |
| SSA|2|In the Introduction section, Overview subsection, the document describes background and scope in a general narrative. The document would have better readability if the section was separated into background and scope subsections.|We suggest inserting subsections for Background and Scope and separating the language appropriately. |
| DHA| |The title of the CP "Federal Public Trust Device Certificate Policy" is described as the "Federal Public Device PKI Certificate Policy"  not a big deal.| |
| DHA| |Since the CP cites RFC 6844, it should be added to 1.6.3 with the other RFCs| |
| DHA| |~~The effective date in 1.6.1 looks like the author just copied the section from the draft CA / Browser Forum Baseline Requirements Version 1.5.2.~~ | |
| DHA| |The CP cites RFC 5280, does it need anything from RFC 6818| |
| Slandala|219|~~Effective Date?~~| |  

Effective Date -> duplicate and PR submitted by David Cooper:  #190 

| FPKIMA|4|~~Suggest adding "in the" after USFPKI. Confusing the way it is currently worded.|U.S. Federal Public Key Infrastructure in the issuance and management of publicly trusted device certificates."~~|
| FPKIMA|16|~~Take out the "be"|The requirements are designed to flow down from the Root….~~|
| DoD|29-30| |~~Add "United States (US)" before the word "Federal"~~ |
| DoD|Table before line 32| |~~Replace the term "fingerprint" with hash~~|
| DHA| |~~The title of the CP "Federal Public Trust Device Certificate Policy" is described as the "Federal Public Device PKI Certificate Policy"  not a big deal.~~| |


817066f


Accepted and addressed, rejected, or clarified in #475 


| Organization / Program | PDF Line | Comment | Change | Addressed / Closed |
| --- | --- | --- | --- | --- |
| FPKIMA|4|~~Suggest adding "in the" after USFPKI. Confusing the way it is currently worded.~~|~~U.S. Federal Public Key Infrastructure in the issuance and management of publicly trusted device certificates."~~  | Addressed | 
| FPKIMA|16|~~Take out the "be"~~|~~The requirements are designed to flow down from the Root….~~ | Addressed |
| FPKIMA|18|~~Harder to remember to update the BR version when its hidden in the paragraph.~~| ~~Introduce a call-out that of all the public trust requirements that are met. CAB BRs, Microsoft v, Mozilla v… etc.~~ | Addressed |
| FPKIMA|219|~~The definition of Effective Date has an actual date.~~|~~Effective Date: "The date upon which something is considered to take effect, which may be a past, present or future date. This may be different from the date upon which the event occurs or is recorded."~~ |Addressed |
| FPKIMA|234-236|~~The High Security Zone definition includes the text "or Delegated Third Party"  However, the CP states previously that Delegated Third Parties are not authorized.  This text should be removed.~~|~~High Security Zone: An area (physical or logical) protected by physical and logical controls that appropriately protect the confidentiality, integrity, and availablity of the CA's private key or cryptographic hardware.~~|Addressed |
| FPKIMA|311|~~Using Requirements to define Requirements is circular logic.~~|~~Requirements: a thing that is compulsory; a necessary condition.~~ |Addressed |
| FPKIMA|39|~~PKI Authorities include more than the FPKIPA.  This section, at the very least, needs to include  paragraphs for Federal CIO Council, FPKIPA, and FPKIMA.~~|~~Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3, "PKI Participants" as the model for this section re-write.~~ | Partially accepted; Addressed |
| FPKIMA|39| ~~"Certificate Status Servers" needs to be included as a paragraph in the "PKI Authorities" section.~~|~~Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.1.7, "Certificate Status Servers" as the model to add to this section.~~ | Rejected.  Certificate Status Servers are within bounds of the CA in Web PKI. |
| FPKIMA|79|~~The Definition Section in 1.6.1 should define WHAT is a subscriber.  This section should define WHO are the subscribers.~~|~~Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.4, "Subscribers" as the model for this section re-write.~~|Partially accepted; Addressed |
| FPKIMA|81|~~The Definition Section in 1.6.1 should define WHAT is a Relying Party.  This section should define WHO are the Relying Parties.~~|~~Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.5, "Relying Parties" as the model for this section re-write.~~ |Partially accepted; Addressed |
| FPKIMA|362|~~Convert from table format to be consistent with other sections~~|~~Remove table~~| Rejected.  Unnecessary. |
| FPKIMA|no line number|~~Within the Acronym table, "CAA Certification Authority Authorization" should be defined as well~~|~~Include a definition in Section 1.6.1 for CAA Certification Authority Authorization"~~ | Addressed |
| FPKIMA|no line number|~~Missing acronyms~~|~~Include acronyms for: HTTP, HTTPS, SCT, CT~~ | Addressed |
| DoD|29-30| |~~Add "United States (US)" before the word "Federal"~~ |Accepted |
| DoD|Table before line 32| |~~Replace the term "fingerprint" with hash~~ | No change; table removed |
| DoD|Table| |~~Put place holder n and m at the end of the two OIDs to make OIDs distinct.  Or put TBDs at the end~~| Table redone |
| DoD|Table| |~~Do not bold the OID prefix.  It gives the impression that is the actual OID~~|Table redone |
| DoD|Table| |~~Restructure so the OID prefix (the CSOR arc) is only rendered once~~ |Table redone |
| DoD|Table| |~~Replace TBD for Change Proposal to None since version 1.0 will be the original CP.~~|
| DoD|Table| |~~Change Effective column with Effective Date and delete * and associated text.  Note there is a separate section for compliance~~ | Duplicate and addressed. |
| DoD|94-98|~~Note that even when a TLS Server acts as a TLS client, it is because it is being accessed as a TLS Server.~~ | ~~It would be better to explicitly and directly state that certificates issued by the TLS Server PKI can only be used during the course of TLS Server Authentication.~~ | Closing.  Will be addressed in #474 |
| DoD|111| |~~Replace "has inclusion in" with "is included in"~~  |
| DoD|115|~~Text is not a complete sentence.~~|~~Replace text with a complete sentence - e.g., "The FPKIPA shall affirm the suitability of any CPS to this policy."~~| Accepted |
| DoD|124-397|~~The glossary section is very long, and it is hard to find the acronyms table when reading through the policy, both of these problems impact overall readability~~|~~Move the glossary and acronyms to an appendix at the end of the document~~ | Accepted |
| DoD|128| |~~Fix spelling of "physically"~~ | Accepted |
| DoD|128-129|~~The term air-gapped is used in only three places and two of them are in definition.  To be consistent and to be unambiguous define it to be disconnected from any network~~|~~Change the definition to "Certificate Systems or components that are physically and logically disconnected from other networks"~~ | Accepted |
| DoD|131| |~~Change "issues" to "is issued"~~|Accepted |
| DoD|147-148| |~~Change "an entity's" to "the audited entity's"~~ |Accepted |
| DoD|205| |~~Change "contract" to "contact"~~ |  Accepted |
| DoD|253| |~~Delete "alphanumeric" since OID are hierarchy of numeric numbers.  There is no alpha in OID.  The numerics are given names at each level for ease of use.~~ | OIDs also include URNs versus just ASN.1. Accepting for this CP scope though.  Definition in original did align with NIST definition. |
| DoD|274-275|~~There is no such thing as "corresponding root certificate"~~|~~Change the definition to "A Certificate that is trusted by virtue of the fact that a certification path exists to it from a Root Certificate distributed as a trust anchor in widely-available application software."~~| Rejected |
| DoD|315-316|~~While the CP does not use the term, the certificate profiles use the term intermediate CA~~|~~Revise the definition of Root CA to say "Intermediate CA and Subordinate CA certificates"~~| Rejected.  Root CA is not the Subordinate CA.  Certificate profiles were updated to remove Intermediate. |
| DoD|346-348|~~It is not clear if this OID is supposed to appear in certificate policies extension or is a new extension.  Research indicates that it may appear in certificate policies extension.~~|~~Clarify where this OID appears or if this is an OID for an extension.  If this is an extension, document its syntax.  Include the actual OID in the CP which appear to be 2.23.140.2.1~~| Definition updated for recent CAB Forum Ballots |
| DoD|356-357|~~Validity Period is a specific term in X.509.  Note that a certificate can be back dated or its validity can start sometime in the future.  I have revised it and added something about not before that may or may not be true.~~|~~Revise the definition to state Validity Period consists of two dates: date when the certificate becomes valid (called not before) and date when the certificate expires (not after).  This CP requires the CAs to assert not before date to be the date certificate is issues and not after date to be some time after that.~~| Rejected.  The CP uses Validity Period as "the period of time".  For example, "certificates shall have a Validity Period no greater than 825 days".  Possible to add to the definition to reference "not before" and "not after". |
| SSA|2|~~In the Introduction section, Overview subsection, the document describes background and scope in a general narrative. The document would have better readability if the section was separated into background and scope subsections.~~|~~We suggest inserting subsections for Background and Scope and separating the language appropriately.~~| Closing; duplicates.  Opened as new issue #474 |
| DHA| |~~The title of the CP "Federal Public Trust Device Certificate Policy" is described as the "Federal Public Device PKI Certificate Policy"  not a big deal.~~| | Addressed. |
| DHA| |~~Since the CP cites RFC 6844, it should be added to 1.6.3 with the other RFCs~~| | Addressed |
| DHA| |~~The effective date in 1.6.1 looks like the author just copied the section from the draft CA / Browser Forum Baseline Requirements Version 1.5.2.~~ | | Addressed; duplicate |
| Slandala|219|~~Effective Date?~~| |  Addressed; duplicate  |


**Open**

| Organization / Program | PDF Line | Comment | Change | Open |
| --- | --- | --- | --- | --- |
| FPKIMA|193-194|The definition of a country may not always align with the U.S. Government position.  Other nations may recognize another country that the U.S. Government may not. |Since these CAs will only issue to the U.S. Government, remove the definition for country or Country: A geographic region as recognized by the U.S. Government. | Open |
| FPKIMA|86|"Compliance Auditors" should be named "Other Participants"|Use the X.509 Certificate Policy for the US Federal PKI Common Policy Framework, paragraph 1.3.6, "Other Participants" as the model for this section re-write. | Open |
| FPKIMA|88 & 92|Alignment and consistency with Public Trust Feedback -- explicitly state SSL/TLS, Certificate Transparency, etc.|Align these sections to ensure consistency with Slide 25, "What is in Scope?" of PublicTrust_PKI_RequestFeedback_2017.pdf | Open.  Will be addressed in #474 |
| FPKIMA|234|Consider renaming "High Security Zone" to avoid confusion between the FISMA definition of High Security Impact systems. |Rename this term, "Enhanced Security Zone", and a footnote that CAB Forum uses different terminology which has FISMA connotations. |Open |
| DoD|259-260|Online should include the concept of being "powered on"|Add "powered on" | Open |
| DoD|261-262| |Change the definition per RFC 6960 to "A protocol to determine revocation status of one or more certificates without the use of CRLs.  The protocol is defined in RFC 6960" | Open |
| Army CIO/G-6|349|The CP does not have a definition for Transport Layer Security (TLS) |Recommend adding a definition for Transport Layer Security (TLS) to this section. Recommend adding parts of RFC 6962, Page 13, Section 3.3 to the document. This section references the inclusion of a signed certificate timestamp in the TLS handshake. | Open |
| SSA|Line 124|The term "natural person" is used throughout the document; however, it is not defined. A definition of the term will improve readers' understanding.|We suggest including a definition for the term "natural person" in Section 1.6.1 | Open |
| DoD|77|This sentence is not clear.  What is delegated third party and what does it mean to not allow them.|Delete the sentence or add more meat around it so that it is clear. | Open |
| DHA| |The CP cites RFC 5280, does it need anything from RFC 6818| | Open |

