Certificate Profiles:  Root CA

[Consolidated from comments received via email.]

**Organization / Program:** DoD
**Section:** Certificate Profile - Root CA
**Comments:**
It is not clear how the extensions listed for the profile were chosen.


**Suggested Changes:** 

- SIA: Also add media type to be application/pkix7-mime in the content-type header field and file extension to be p7c


- General: Either only list the extensions used or list all the extensions from RFC 5280 and list which ones are not used.  Currently, the profile does not address the following: AKID, policy mapping, Issuer Alternative Name, Subject Directory Attributes, name constraints, policy constraints, inhibit any policy, and freshest CRL

 



I think this is a simple mistake in the submitted comments.   

> SIA: Also add media type to be application/pkix7-mime in the content-type header field and file extension to be p7c

The media type in the content-type header field should actually be "application/pkcs7-mime", correct?

Question @mttcpr @grandamp @dcooper16 

- Do you believe we need to be this detailed, to include specification of the content-type header and the file extension?


Yes, application/pkcs7-mime and p7c. I do think the detail is warranted. We
want p7c rather than cert and the mime type is often not implemented
correctly. If you want to get wild and crazy how about a cache control
header requirement here and for crl as well?

I am presently mobile.


I think the reference for this requirement should be changed. Currently it says " "certs-only" CMS message as specified in [RFC2797]." RFC 2797 is Certificate Management Messages over CMS, and it was obsoleted in 2008 by RFC 5752. The reference used in https://www.idmanagement.gov/wp-content/uploads/sites/1171/uploads/fpki-cert-profile-ssp.pdf is RFC 5751.

While the RFC specifies the extension and media type for "certs-only" CMS messages, it can't hurt to specify it in the profile. I've also encountered situations in which the incorrect extension and/or media type was used.

Thanks @dcooper16 @mttcpr 

The RFC reference was also on my list (working through the RFC references last night).  It did look old / incorrect, and needs to be updated in all profiles.  

 