Section 4 Editorial

Additional comments received on Section 4

| Organization / Program | PDF Line | Comment | Change |
| --- | --- | --- | --- |
| NSA|732, 734|at least one FQDN to be included', do you really mean DNS name? or are we overloading FQDN?|replace FQDN with DNS. |
| NSA|794|Need the placeholder for the cert profile reference| |
| DoD|797-800|Put relying party requirements in the absence of corresponding section|"Relying parties should perform certification path validation, including revocation checking in accordance with Section 6 of RFC 5280.  Revocation checking via CRL can be substituted with the revocation checking via OCSP using the OCSP verification implied by RFC 6960 and by ensuring the same key is used to validate the signature on the OCSP certificate as the certificate in question.  Relying parties should perform the following additional checks.  Process EKU for the path and use the certificate only for the purpose for which the path is valid and is consistent with the KU in the end certificate; verify all the SCTs in the certificate and the corresponding inclusion proofs." |
| DoD|813-814|Given that the profile calls for 45 day certificate, the intent here appears to be to rekey OCSP every 825 days.  It may be better to say that.|Replace text with "An OCSP Responder shall be rekeyed within 825 days. |
| |815|check name of subsection in the outline….seems like it might be wrong?| |
| DoD|842-844|Sentence is confusing|Either put the bullets into a list format with each bullet on its own line or delete the bullets |
| NSA|899|Since this is the CP, this a little circular|remove "Certificate Policy and/or" |
| NSA|939|This is the CP, a CA won't have an additional CP|remove the phrase 'Certificate Policy or'. |
| DoD|951| |Delete extra "of a" |
| DoD|962-965|The text says no stipulation, and then provides a stipulation|Text should read "Delegated Third Parties are not allowed under this policy." |
| DoD|982|In order to ensure simplicity, security and interoperability use the same key to sign Responder as the certificate in question.|Add the following: "The CA shall use the same key to sign both certificates". |
| DoD|1001-1005|Note that a newer RFC (RFC 6066) is available.  Also note that Server can only staple OCSP response if requested.  |Add the following: "Server shall staple OCSP response only if requested.  If the client does not identify an OCSP Responder or if the client identified OCSP Responder is not available to the Server, the Server shall provide the OCSP response from the OCSP Responder identified in the Server certificate".  Also change reference from 4366 to 6066. |
| DoD|1022-1023|We assume that this requirement is for providing CRL and OCSP Responses.  In addition, for CRL network delays can cause other issues and hence only initiating response should be committed to.  |Revise the text to say: "The CA SHALL operate and maintain its CRL and OCSP capability (e.g., using a repository) with resources sufficient to initiate a CRL or OCSP response within ten seconds of receipt of CRL or OCSP request under normal operating conditions." |

