CAB Forum Ballot SC13 Review - CAA and DNS TXT

SC13 Ballot - https://cabforum.org/2018/12/18/ballot-sc13-caa-contact-property-and-associated-e-mail-validation-methods/

- [x] Review Section 3.2.2.4.7 for performing FQDN control checks using email to CAA or DNS TXT Contact

- [x] Review Appendix A to add definition for DNS CAA Email Contact and DNS TXT Record Email Contact

Ballot Text:
Add the following definitions to section 1.6.1:

DNS CAA Email Contact: The email address defined in section B.1.2.
DNS TXT Record Email Contact: The email address defined in section B.2.2.

Add Section 3.2.2.4.13: Email to DNS CAA Contact

Confirming the Applicant's control over the FQDN by sending a Random Value via email and then receiving a confirming response utilizing the Random Value. The Random Value MUST be sent to a DNS CAA Email Contact.  The relevant CAA Resource Record Set MUST be found using the search algorithm defined in RFC 6844 Section 4, as amended by Errata 5065 (Appendix A).

Each email MAY confirm control of multiple FQDNs, provided that each email address is a DNS CAA Email Contact for each Authorization Domain Name being validated.  The same email MAY be sent to multiple recipients as long as all recipients are DNS CAA Email Contacts for each Authorization Domain Name being validated.

The Random Value SHALL be unique in each email. The email MAY be re-sent in its entirety, including the re-use of the Random Value, provided that its entire contents and recipient(s) SHALL remain unchanged. The Random Value SHALL remain valid for use in a confirming response for no more than 30 days from its creation. The CPS MAY specify a shorter validity period for Random Values.

Note: Once the FQDN has been validated using this method, the CA MAY also issue Certificates for other FQDNs that end with all the labels of the validated FQDN. This method is suitable for validating Wildcard Domain Names.

Add Section 3.2.2.4.14: Email to DNS TXT Contact

Confirming the Applicant's control over the FQDN by sending a Random Value via email and then receiving a confirming response utilizing the Random Value. The Random Value MUST be sent to a DNS TXT Record Email Contact for the Authorization Domain Name selected to validate the FQDN.

Each email MAY confirm control of multiple FQDNs, provided that each email address is DNS TXT Record Email Contact for each Authorization Domain Name being validated.  The same email MAY be sent to multiple recipients as long as all recipients are DNS TXT Record Email Contacts for each Authorization Domain Name being validated.

The Random Value SHALL be unique in each email. The email MAY be re-sent in its entirety, including the re-use of the Random Value, provided that its entire contents and recipient(s) SHALL remain unchanged. The Random Value SHALL remain valid for use in a confirming response for no more than 30 days from its creation. The CPS MAY specify a shorter validity period for Random Values.

Note: Once the FQDN has been validated using this method, the CA MAY also issue Certificates for other FQDNs that end with all the labels of the validated FQDN. This method is suitable for validating Wildcard Domain Names.

Add Appendix B: DNS Contact Properties

These methods allow domain owners to publish contact information in DNS for the purpose of validating domain control.

B.1. CAA Methods

B.1.1. CAA contactemail Property

SYNTAX: contactemail <rfc6532emailaddress>  

The CAA contactemail property takes an email address as its parameter.  The entire parameter value MUST be a valid email address as defined in RFC 6532 section 3.2, with no additional padding or structure, or it cannot be used.

The following is an example where the holder of the domain specified the contact property using an email address.

$ORIGIN example.com <http://example.com> . 
               CAA 0 contactemail "domainowner at example.com <mailto:domainowner at example.com> "

The contactemail property MAY be critical, if the domain owner does not want CAs who do not understand it to issue certificates for the domain.

B.2. DNS TXT Methods

B.2.1. DNS TXT Record Email Contact

The DNS TXT record MUST be placed on the "_validation-contactemail" subdomain of the domain being validated.  The entire RDATA value of this TXT record MUST be a valid email address as defined in RFC 6532 section 3.2, with no additional padding or structure, or it cannot be used.

I created a branch to incorporate the two new sections and definitions. 

Thanks @weirdscience 

Some comments: 

- I don't believe this is an update to 3.2.2.4.7 - the 3.2.2.4.7 validation method is specific to DNS record changes and validating the random value by presence **in** the resource record (**not an email sent to a contact found in DNS resource records)
- I think we add both _Section 3.2.2.4.13: Email to DNS CAA Contact_ and _Section 3.2.2.4.14: Email to DNS TXT Contact_ with the policy statement of: 
- _This validation method defined by the Baseline Requirements is not allowed under this CP._ 




Yep, done.

@lachellel  should I do a PR to incorporate the changes?